  Build_and_Push_Image:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: Lint_Python
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Log in to IBM Cloud
      run: |
        ibmcloud login --apikey "${{ secrets.IBM_CLOUD_API_KEY }}" -r us-south
        ibmcloud cr login

    - name: Build and Push Docker Image
      run: |
        docker build -t us.icr.io/${{ secrets.MY_NAMESPACE }}/dealership .
        docker push us.icr.io/${{ secrets.MY_NAMESPACE }}/dealership
