name: Lint Code

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  Lint_Python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Lint with flake8 (non-blocking)
        run: |
          flake8 server/djangoapp server/djangoproj --count --show-source --statistics --exit-zero
      
